.nav-bar{
    width:100%;     
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 

    padding: 22px 10px;
}

.nav-bar-logo{
    width: 100px;
}

.nav-bar-logo img{
    width: 100%;
}

.nav-bar-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17px;
}

.nav-bar-options p{
    font-size: 14px; 
    font-weight: 550;
    color: black;
}

.nav-bar-options p:hover{
    cursor:pointer;
    color: var(--secondary-font);
}

.search-bar-container{
    width: 300px;
    height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid darkslategray;
    border-radius: 14px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.099);
}

.search-bar-container svg{
    width: 32px;

    margin-left: 15px;
}

.search-bar{    
    width: 100%;
    height: 100%;

    border: none;

    padding-left: 7px; 
} 

.search-bar::placeholder{
    font-size: 15px; 
    font-weight: 550;
}

.search-bar-container img{
    width: 20px;

    border-left: 1px solid rgb(165, 165, 165);

    padding: 3px 15px;
}

/*___________________________________________________________________________*/

.banner-container{
    margin-top: 50px; 
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
    align-items: center;

}

.banner-texts{
    display: flex;
    flex-direction: column;
}

.bike-delivery{
    width: 180px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to right, rgb(239, 196, 117), rgb(247, 216, 157));
    border-radius: 25px;
    
    padding: 4px 5px; 
}

.bike-delivery p{
    font-size: 16px;
    font-weight: 600;
    color: orangered;

    padding-left: 6px;
}

.bike-delivery img{
    height: 45px;
    border-radius: 50%;
}

.banner-title{
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin-top: 40px  ;
}

.banner-bio{
    width: 450px;

    font-size: 15px;
    font-weight: 500;  
    letter-spacing: 0.5px;

    margin-top: 35px;
}

.banner-order{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 45px;
}

.banner-order-1{
    width: 150px;
    height: 46px;

    font-size: 16px;
    font-weight: 600;
    color: white;

    background: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
    border: none;
    border-radius: 8px; 

    margin-right: 35px;
}

.banner-order-1:hover{
    background: linear-gradient(180deg, #e5984a 0%, #ee7e0f 100%);
    cursor: pointer;
}

.banner-order-2{
    width: 190px;
    height: 58px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 4px;
}

.banner-order-2 img{
    height: 100%; 
}

.banner-order-2 p{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px; 
}

.banner-order-2:hover{
    text-decoration: underline;
    cursor: pointer;
}


.banner-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 35px;
    row-gap: 60px;  
}  

.banner-img-card{ 
    width: 200px;
    height: 180px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.109);
    border-radius: 18px;
}

.banner-img-card:hover{
    cursor: pointer;  
}

.banner-img-card img{
    width: 100%;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.banner-card-name{
    font-size: 18px;
    font-weight: 700; 

    margin-top: 50px;
}

.banner-card-type{
    font-size: 15px;
    font-weight: 600;
    color: var(--third-font);

    margin: 7px 0px;
}

.banner-card-price{
    font-size: 15px;
    font-weight: 550;
    color: rgb(0, 144, 0);
}


.banner-info-container{
    display: flex;
    justify-content: center;
}

.banner-info{
    width: 900px;
    height: 150px;
    
    display: flex;
    flex-direction: row;
    justify-content:center; 
    align-items: center; 

    border: 0.5px solid rgba(214, 214, 214, 0.968);
    border-radius: 16px;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.109);

    margin-top: 80px; 
}

.open-hours-card,
.location-card,
.contact-card{
    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: center; 

    padding: 15px 65px;
}

.location-card{
    border-right: 2px solid rgb(204, 202, 202);
    border-left: 2px solid rgb(204, 202, 202);
}

.info-card-primary-text{
    font-size: 16px; 
    font-weight: 600; 
    text-align: center;

    margin-top: 9px;
}

.info-card-secondary-text{
    font-size: 13px; 
    color:rgb(36, 36, 36); 
    
    margin-top: 3px;
}

.open-hours-card img{
    width: 40px; 
}

.location-card-icon,
.contact-card-icon{
    height:40px;
    width: 40px;

    display: flex;  
    justify-content: center;
    align-items: center;

    background-color: #F48E28;
    border-radius: 50%;
}

.location-card-icon img,
.contact-card-icon img{
    width: 55%; 
} 


/*______________________________________________________________________*/
/*______________________________________________________________________*/


@media only screen and (min-width: 200px) and (max-width: 576px){
    .nav-bar{   
        height: 100%; 

        align-items: center;

        border-bottom: 1px solid var(--secondary-font);

        margin: 10px 0px;
        padding: 0;  
    }
    
    .nav-bar-logo{
        width: 70px;
    
        padding: 0;
        padding-top: 13px;
        padding-bottom: 10px;
    }
    
    .nav-bar-options{  
        justify-content: center; 
        column-gap: 0px;

        padding-top: 6px;
        margin-right: 4px;
    }

    .nav-bar-options p{
        font-size: 11px;
        font-weight: 550;

        padding: 0px 4.5px;
    }
    
    .search-bar-container{
        display: none;
    } 

    /*____________________________________________________________________*/ 
    
    .banner-container{
        width: 100%;

        margin-top: 60px;
    }

    .banner{
        flex-direction: column; 
        justify-content: left;
        column-gap: 0px; 
    } 
    
    .bike-delivery{
        width: 150px;  
    
        border-radius: 25px;
        
        padding: 4px 5px; 
    }
    
    .bike-delivery p{
        font-size: 14px; 
    
        padding-left: 4px;
    }
    
    .bike-delivery img{
        height: 40px;
        border-radius: 50%;
    }
    
    .banner-title{
        width: 100%;

        font-size: 34px;  
        text-align: left;
    
        margin-top: 25px  ;
    }
    
    .banner-bio{
        width: 88%;
    
        font-size: 14px; 
        text-align: left;
    
        margin-top: 20px;
    }
    
    .banner-order{
        display: flex;
        flex-direction: row;
        align-items: center;
    
        margin-top: 20px;
    }
    
    .banner-order-1{
        width: 110px;
        height: 36px;
    
        font-size: 13px;  
    
        margin-right: 10px;
    } 
    
    .banner-order-2{
        width: 140px;
        height: 48px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding-top: 4px;
    }
    
    .banner-order-2 img{
        height: 100%; 
    }
    
    .banner-order-2 p{
        font-size: 13px; 
    } 
    
    
    .banner-images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
        column-gap: 20px;
        row-gap: 50px;  

        margin: 70px 0px;
    }  
    
    .banner-img-card{ 
        width: 140px;
        height: 131px;  
    }
    
    .banner-img-card:hover{
        cursor: pointer;  
    }
    
    .banner-img-card img{
        width: 100%;
    
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
    
    .banner-card-name{
        font-size: 18px;
        font-weight: 700; 
    
        margin-top: 50px;
    }
    
    .banner-card-type{
        font-size: 15px;
        font-weight: 600;
        color: var(--third-font);
    
        margin: 7px 0px;
    }
    
    .banner-card-price{
        font-size: 15px;
        font-weight: 550;
        color: rgb(0, 144, 0);
    }

    
    .banner-info-container{ 
        flex-direction: column;
        align-items: center;
    } 

    
    .banner-info{
        width: 265px;
        height: 100%;
        
        flex-direction: column;  
        box-shadow: 10px 7px 12px rgba(0, 0, 0, 0.109);
    
        margin-top: 50px; 
    }
    
    .open-hours-card,
    .location-card,
    .contact-card{
        height: 130px; 

        justify-content: center;
    
        padding: 20px 10px;
    }
    
    .location-card{
        border: none;
        border-top: 2px solid rgb(204, 202, 202);
        border-bottom: 2px solid rgb(204, 202, 202);
    }     
}