.menu-container{
    width: 100%;
    height: 100%;   

    display: flex;
    flex-direction: column; 
    align-items: center;

    margin-top: 180px;
} 

.menu-title{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 38px;
    font-weight: 650;
    color: var(--primary-font);
}

.menu-title p{
    font-size: 20px;
    color: var(--secondary-font); 
} 



.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 38px;
    row-gap: 38px; 

    margin-top: 30px;
}

.menu-item{
    width: 340px;
    height: 365px;

    display: flex;
    flex-direction: column; 

    border-radius: 18px;
    box-shadow: 12px 7px 15px rgba(0, 0, 0, 0.141);
}

.menu-item-img{
    width: 100%;
    height: 235px;
}

.menu-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.menu-item-texts{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.menu-item-texts-left{
    width: 65%;

    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-left: 10px;
}

.dish-name{ 
    width: 100%;

    font-size: 20px;
    font-weight: 630;
}

.add-to-cart-button{
    width: 120px;
    height: 40px;

    font-size: 13px; 
    font-weight: 530;
    color: white;

    background-color: var(--button-color);
    border: none;
    border-radius: 25px;

    margin-top: 15px;
}

.add-to-cart-button:hover{
    cursor:pointer;
    background-color: var(--button-hover-color);
}

.menu-item-texts-right{
    width: 20%;

    display: flex;
    flex-direction: column; 
    align-items: end;

    margin-top: 16px;
    margin-right: 10px;
}

.item-rating{
    display: flex;
    flex-direction: row; 
    align-items: center;

    font-size: 14px;
    color: rgb(72, 72, 72);
}

.item-rating img{
    width: 15px;

    padding: 0px 6px;
}

.item-price{
    font-size: 19px;
    font-weight: 600;
    color: var(--primary-font);

    margin-top: 7px;
}


.see-more-products-button{
    width: 220px;
    height: 55px;

    font-size: 17px; 
    font-weight: 530;
    color: white;

    background-color: var(--button-color);
    border: none;
    border-radius: 28px;

    margin-top: 45px;
}

.see-more-products-button:hover{
    cursor:pointer;
    background-color: var(--button-hover-color);
}

/*______________________________________________________________________________*/

.services-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column; 
    align-items: center;

    margin-top: 180px;
} 

.services{
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}

.service-card{
    width: 300px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 0.5px solid rgba(180, 180, 180, 0.742);
    border-radius: 14px;
    box-shadow: 9px 7px 11px rgba(0, 0, 0, 0.141);
    background-color: white;

    opacity: 0.9; 

    margin: 0px 17px;
}

.service-card:hover{
    width: 320px;
    height: 320px;
    opacity: 1;

    margin: -10px 6px;
}

.service-img{
    display: flex;
    justify-content: center;

    width:55px;
    height:55px;

    background-color: #F5DDC4;

    border-radius: 27.5px;
}

.service-img img{
    width: 44px;
}


.service-name{
    font-size: 20px;
    font-weight: 630;
    color: var(--primary-font);

    margin: 15px 0px;
}

.service-des{
    width: 80%;
    font-size: 15px;
    color: rgb(59, 59, 59);
    text-align: center;
}

/*_____________________________________________________________________________*/

.testimonial-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 180px;
}

.testimonials{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;

    margin-top: 70px;
}

.testimonial-card{
    width: 520px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(180, 180, 180, 0.525);
    border-radius: 20px;
} 

.testimonial-img{
    width: 480px;

    padding-left: 40px;
}

.testimonial-img img{
    width: 100%;
}

.testimonial-left-arrow{
    width: 65px;
    height: 65px;

    z-index: 20;

    margin-right: -29px;
}

.testimonial-left-arrow img{
    width: 100%;

    border-radius: 50%;
}

.testimonial-right-arrow{
    width: 65px;
    height: 65px;

    z-index: 30;

    margin-left: -29px;
}

.testimonial-right-arrow img{
    width: 100%;

    border-radius: 50%;
}

.testimonial-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    width: 55px;
    height: 55px; 

    margin-right: 11px;
}

.profile-pic img{
    width: 100%;
    border-radius: 50%;
}

.profile-name{
    font-size: 15px;
    color: rgb(77, 77, 77);
}

.profile-name p{
    font-size: 17px;
    font-weight: 570;
    color: var(--primary-font);
}

.testimonial-des{
    width: 85%;

    font-size: 15px;
    text-align: center;

    margin-top: 18px;
}

/*___________________________________________________________________________*/